langchain-core
langchain-google-genai
langchain
pinecone
pinecone-client==5.0.1
langchain-pinecone
langchain-community
gunicorn
uvicorn
uvicorn-worker
fastapi
fastapi[standard]
starlette
pydantic
redis
motor
aioredis
jwt