eventlet==0.36.1
Flask==2.2.5
Flask-Cors==3.0.10
Flask-SocketIO==5.3.5
pymongo==4.11
python-dotenv==1.0.1
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.10
langchain-openai==0.2.2
langchain-pinecone==0.2.0